<h4>Añadir <small>Pelicula</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Titulo</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Titulo" name="titulo" [(ngModel)]="pelicula.titulo" minlength="5" required #titulo="ngModel">
                <div *ngIf="titulo?.errors?.required" class="form-control-feedback">
                    Este campo es requerido
                </div>
                <div *ngIf="titulo?.errors?.minlength" class="form-control-feedback">
                    Por los menos {{titulo?.errors.minlength.requiredLength}} caracteres
                </div>
            </div>

        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Sinopsis</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Sinopsis" name="sinopsis" [(ngModel)]="pelicula.sinopsis" minlength="20" required #sinopsis="ngModel">
                <div *ngIf="sinopsis?.errors?.required" class="form-control-feedback">
                    Este campo es requerido
                </div>
                <div *ngIf="sinopsis?.errors?.minlength" class="form-control-feedback">
                    Por los menos {{titulo?.errors.minlength.requiredLength}} caracteres
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Imagen</label>
        <div class="col-md-8">

            <input class="form-control" type="text" name="imagen" [(ngModel)]="pelicula.img" #imagen="ngModel">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Fecha estreno</label>
        <div class="col-md-8">

            <input id="date" type="date" name="estreno" [(ngModel)]="pelicula.estreno" #estreno="ngModel" required>
            <div *ngIf="estreno?.errors?.required" class="form-control-feedback">
                Este campo es requerido
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Productora</label>
        <div class="col-4">

            <select [(ngModel)]="pelicula.productora" class="form-control" name="productora" #productora="ngModel" required>

                <option *ngFor="let p of productoras" [value]="p">{{p}}</option>
            </select>
            <div *ngIf="productora?.errors?.required" class="form-control-feedback">
                Este campo es requerido
            </div>
        </div>
    </div>
    <!--    <div class="form-group row">
        <label class="col-2 col-form-label">Actores</label>
        <div class="col-4">

            <select [(ngModel)]="pelicula.actores" class="form-control" name="actores">
                <option value="">Seleccione actor...</option>
                <option *ngFor="let actor of actores" [ngValue]="actor">{{actor.nombre}}</option>
                
            </select>
        </div>
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button> &nbsp;
        <button type="button" class="btn btn-danger"><i class="fa fa-minus"></i></button>
    </div>
-->

    <div class="form-group row">
        <label class="col-2 col-form-label">Identificador</label>
        <div class="col-4">

            <input class="form-control" type="text" placeholder="{{pelicula.idx}}" name="idx" [(ngModel)]="pelicula.idx" #identificador="ngModel" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>

        <div class="input-group col-md-8">

            <button type=" submit " class="btn btn-outline-primary " [disabled]="!forma.valid "> <!---->
          Guardar
        </button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><a [routerLink]="['/home']" class="btn btn-outline-danger">Regresar</a> &nbsp;</label>
    </div>

</form>