<h4>Modificar <small>Actor</small></h4>
<hr>
<form>

    <div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Biografía</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Biografía">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Imagen</label>

        <div class="col-md-8">
            <img src="../../../../assets/img/actores/jason-momoa.jpg" style="height: 11rem"> <br><br>
            <input type="file" id="archivo1">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Fecha estreno</label>
        <div class="col-md-8">

            <input id="date" type="date">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre completo</label>
        <div class="col-8">

            <input class="form-control" type="text" placeholder="Nombre completo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Nacionalidad</label>
        <div class="col-8">

            <input class="form-control" type="text" placeholder="Nacionalidad">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Peliculas</label>
        <div class="col-4">

            <select id="inputState" class="form-control">
                <option>Seleccione pelicula...</option>
                <option>...</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button> &nbsp;
        <button type="button" class="btn btn-danger"><i class="fa fa-minus"></i></button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Series</label>
        <div class="col-4">

            <select id="inputState" class="form-control">
                <option>Seleccione serie...</option>
                <option>...</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button> &nbsp;
        <button type="button" class="btn btn-danger"><i class="fa fa-minus"></i></button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Identificador</label>
        <div class="col-4">

            <input class="form-control" type="text" placeholder="Identificador" disabled>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
          Guardar
        </button>
        </div>
    </div>

</form>