<h1 class="animated fadeIn"> {{ pelicula.titulo | uppercase }} <small> ({{pelicula.estreno | date:'y' }}) </small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-3">
        <img [src]="pelicula.img" class="img-fluid" [alt]="pelicula.titulo">
        <br><br>
        <a [routerLink]="['/peliculas']" class="btn btn-outline-danger btn-block"> Regresar</a>
    </div>

    <div class="col-md-8">
        <h3> {{pelicula.titulo}}</h3>
        <hr>
        <p>
            {{pelicula.sinopsis}}
        </p>
        <div>
            <img *ngIf="pelicula.productora== 'Marvel'" class="img-logo" src="assets/img/productoras/logo-marvel.png" alt="Marvel">
            <img *ngIf="pelicula.productora== 'DC'" class="img-logo" src="assets/img/productoras/dc-logo.jpg" alt="DC">
            <img *ngIf="pelicula.productora== 'Atresmedia'" class="img-logo" src="assets/img/productoras/atresmedia.png" alt="Marvel">
        </div>
        <hr>
        <div>
            <h5> Actores</h5>
            <div class="card-deck">
                <app-actores-tarjeta (actorSeleccionado)="verActor($event)" [actor]="foo" [index]=i *ngFor="let foo of pelicula.actores; let i = index" style="width: 12rem"></app-actores-tarjeta>
            </div>

        </div>
    </div>
</div>