<h1 class="animated fadeIn"> {{ serie.titulo | uppercase }} <small> ({{serie.estreno | date:'y'}}) </small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-3">
        <img [src]="serie.img" class="img-fluid" [alt]="serie.titulo">
        <br><br>
        <a [routerLink]="['/series']" class="btn btn-outline-danger btn-block"> Regresar</a>
    </div>

    <div class="col-md-8">
        <h3> {{serie.titulo}}</h3>
        <hr>
        <p>
            {{serie.sinopsis}}
        </p>
        <div>
            <img *ngIf="serie.productora== 'Marvel'" class="img-logo" src="assets/img/productoras/logo-marvel.png" alt="Marvel">
            <img *ngIf="serie.productora== 'DC'" class="img-logo" src="assets/img/productoras/dc-logo.jpg" alt="DC">
        </div>
        <hr>
        <div>
            <h5> Actores</h5>
            <div class="card-deck">
                <app-actores-tarjeta [actor]="foo" [index]=i *ngFor="let foo of serie.actores; let i = index" style="width: 12rem"></app-actores-tarjeta>
            </div>

        </div>
        <hr>
        <div>
            <h5> Contenido</h5>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card" *ngFor="let i of serie.contenido; let in = index">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="heading{{i.temporada}}">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse{{i.temporada}}" [attr.aria-expanded]="!isCollapsed">
                            <h5 class="mb-0">
                                Temporada {{i.temporada}} <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse{{i.temporada}}" class="collapse" role="tabpanel">
                        <div class="card-body " *ngFor="let j of serie.contenido[in].episodios; let ind = index ">
                            {{j}}
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->

        </div>
    </div>
</div>