body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 120px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #666666;
    text-align: center;
    color: white;
}


/* Box-sizing reset: //w3bits.com/?p=3225 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* The Masonry Container */

.masonry {
    margin: 0.5em auto;
    max-width: 768px;
    column-gap: 0.5em;
}


/* The Masonry Brick */

.item {
    background: #fff;
    padding: 0em;
    margin: 0 0 0.5em;
}


/* Masonry on large screens */

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
}


/* Masonry on medium-sized screens */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
}


/* Masonry on small screens */

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 3;
    }
}